<!DOCTYPE html>
<html>
<head>
	<meta charset = 'UTF-8'>
	<title>Spicy!</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	 <link rel= "stylesheet" type= "text/css" href= "../assets/css/style.css">

	 <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

	 <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body background = "../assets/images/kitchen.jpg" class = 'img-responsive center-block'>

	{{{ body }}}

</body>
</html>